* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-image: linear-gradient(rgba(54, 54, 54, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/wallpaper.png);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

header {
  width: 100%;
}

.row {
  display: flex;
  padding-top: 1em;
}

.header__image {
  padding-left: 1em;
}

.twh {
  width: 8em;
}

.header__text {
  padding-left: 0.5em;
  padding-top: 1em;
}

.header__text h2 {
  color: #fff;
  font-size: 3em;
  font-weight: bolder;
  font-style: italic;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__text h3 {
  color: #fff;
  font-size: 2em;
  font-weight: bolder;
  font-style: italic;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container__card {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #fff;
  border-radius: 1em;
  padding: 2em 0;
}

h1 {
  text-align: center;
  padding: 10px 0 20px 0;
}

form {
  padding: 0 40px;
  box-sizing: border-box;
}

.txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.post__btn {
  padding: 1em 0;
}

form a {
  display: flex;
  justify-content: center;
  border: 1px solid;
  background: #212529;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: 0.3s;
  margin-bottom: 1em;
}

.pass {
  text-align: center;
  padding: 20px 0;
  color: #000000;
}

a:hover {
  background-color: #fff;
  color: #212529;
}
